$grayish-blue: hsl(220, 14%, 75%);
$grayish-blue-light: hsl(223, 64%, 98%);
$grayish-blue-dark: hsl(219, 9%, 45%);
$very-dark-blue: hsl(220, 13%, 13%);
$white: hsl(0, 0%, 100%);
$black: hsl(0deg 0% 0% / 75%);
$orange: hsl(26, 100%, 55%);
$orange-pale: hsl(25, 100%, 94%);
