$bg-clr: hsl(255, 15%, 95%);
$brdr-clr: hsl(236, 33%, 92%);
$txt-clr-actions: hsl(249, 4%, 61%);
$txt-clr-footer: hsl(249, 4%, 61%);

$gradient-cb: linear-gradient(0deg hsl(192, 100%, 67%), hsl(280, 87%, 65%));