* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #F7EADB;
}

.container {
    display: grid;
    margin: 0 auto;
    max-width: 540px;
}

.balance, .overview {
    border-radius: 20px;
    padding: 30px;
}

.balance {
    background: #EC755D;
    margin-bottom: 25px;
}

.overview {
    background: #FEFCF6;
}